@model ExcelImportExport.Models.ExcelUpload

@{
    ViewBag.Title = "Student Data Upload";
}

<script>
    $(document).ready(function () {
        $('form').submit(function () {
            $(this).find(':submit').attr('disabled', 'disabled');
            $(this).find(':submit').attr('value', 'Please Wait');
        });
    });
</script>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title">Upload Data</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>

        </div>
    </div>
    <div class="box-body">
        <form action="HouseDataUpload" method="post" enctype="multipart/form-data">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="file" class="control-label col-md-2">House Data File : </label>
                    <div class="col-md-6">
                        <input type="file" accept=".csv" name="file" id="file" required="true" class="form-control btn btn-default" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input id="btnSubmit" type="submit" value="Upload" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </form>

        @*@if (Model.Validate.Count > 0)
            {
                <table class="table table-striped">
                    <tr>
                        <th>Row</th>
                        <th>Column</th>
                        <th>Description</th>
                    </tr>
                    @foreach (var item in Model.Validate)
                    {
                        <tr>
                            <td>@item.row</td>
                            <td>@item.column</td>
                            <td>@item.description</td>
                        </tr>
                    }
                </table>
            }*@

        @*@if (Model.Validate.Count > 0)
            {*@

    </div>
</div>

